.app-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 24px;
}

.text-boxes {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.grid-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.grid-cell {
  border: 4px solid;
  padding: 12px;
}
